<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Directory listing for /gameassets/Zwift_Updates_Root/</title>
</head>
<body>
<h1>Directory listing for /gameassets/Zwift_Updates_Root/</h1>
<hr>
<ul>
    <li><a href="Launcher_ver_cur.xml">Launcher_ver_cur.xml</a></li>
    <li><a href="LauncherMac_ver_cur.xml">LauncherMac_ver_cur.xml</a></li>
    <li><a href="Zwift_ver_cur.xml">Zwift_ver_cur.xml</a></li>
    <li><a href="ZwiftMac_ver_cur.xml">ZwiftMac_ver_cur.xml</a></li>
</ul>
<hr>
</body>
</html>